xml_files/lorem.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://www.w3schools.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="statistics">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:dateTime" name="dateTimeOfCreation"/>
                            <xs:element type="xs:string" name="author"/>
                            <xs:element type="xs:string" name="applicationClassName"/>
                            <xs:element type="xs:byte" name="chapters"/>
                            <xs:element type="xs:short" name="paragraphs"/>
                            <xs:element type="xs:int" name="lines"/>
                            <xs:element type="xs:short" name="distinctWords"/>
                            <xs:element type="xs:int" name="allWords"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="chapter" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="paragraph" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="line" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:integer" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:integer" name="id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>